%section.advanced_search.container
  = form_tag advanced_search_videos_path, method: 'get', class: 'form-horizontal' do
    %header
      %h1 Advanced Search
    .form-group
      .col-sm-6
        = search_field_tag :query, params[:query], placeholder: "Search videos by title, description", class: 'form-control'
    .form-group
      .col-sm-6
        .checkbox
          %label
            = check_box_tag :reviews, 'y', params[:reviews] == 'y'
            Include Reviews
    .form-group
      .row.average_rating_label Average Rating
      = label_tag :rating_from, "From:", class: 'col-sm1 control-label'
      .col-sm-2
        = select_tag :rating_from, options_for_select((10..50).map { |num| num / 10.0 }, params[:rating_from]), prompt: "-", class: 'form-control'
      = label_tag :rating_to, "To:", class: 'col-sm1 control-label'
      .col-sm-2
        = select_tag :rating_to, options_for_select((10..50).map { |num| num / 10.0 }, params[:rating_to]), prompt: "-", class: 'form-control'
    .form-group
      .col-sm-6
        = button_tag(type: "submit", class: "btn btn-primary") do
          %span.glyphicon.glyphicon-search
          Search
  %br
  %hr
  - if @videos
    %h2.results_count Results: #{@videos.count} videos found
    - @videos.each do |video|
      %article.video.row
        .video_data
          %figure.col-sm-2
            = image_tag video.small_cover_url.to_s
          .video_body.col-sm-10
            %header
              %h3
                Video
                = link_to video.title, video, class: 'label label-highlight'
            %p.video_description
              = video.description
            %hr
            .details
              %span.average_rating Average rating: 3.5
              %span.reviews_count 5 reviews
            %footer.video_review
              In nulla hendrerit. Vestibulum volutpat orci varius, euismod quis nunc mattis malesuada, quis nulla tortor lacinia id vestibulum, mattis venenatis sed integer. Lorem ipsum dolor sit amet, qui risus mus aliquet alias, placerat volutpat consequat turpis vivamus quis...